# Make csv of label cells

In [24]:
import numpy as np
import scanpy as sc
import pandas as pd
from matplotlib import pyplot as plt
import os, sys

sys.path.append(os.path.join('..', '..'))

import IMCprocess.img_anndata as ia
from IMCprocess.img_anndata.img_anndata import Img_anndata
from IMCprocess.utils import utils as ut
from IMCprocess.clustifier import clustifier as cl

# I have to use custom Img_anndata code
import Img_anndata as utan

## import data

In [26]:
Ep2 = ut.read_pickle_obj('sample_data/02hanna_adata_Patient9_obj_EpLevel2.pkl')
Im2 = ut.read_pickle_obj('sample_data/02hanna_adata_Patient9_obj_ImmuneLevel2.pkl')
Fi2 = ut.read_pickle_obj('sample_data/02hanna_adata_Patient9_obj_Level2.pkl')
obj1 = ut.read_pickle_obj('sample_data/00hanna_adata_Patient9_obj_Level1.pkl')

In [27]:
obj_label = obj1.adata_dict['level1'].obs

In [30]:
def merge_col_label(df, col_list):
    # only want to merge two columns
    df_merge = pd.DataFrame(df.apply(
        lambda row: str(row[col_list[0]]) +
        '_' +str(row[col_list[1]]), axis=1), columns=['label'])
    return df_merge

In [31]:
Ep_label = merge_col_label(Ep2.adata_dict['Ep_level2'].obs,
                           ['level1_annotated','Ep_level2_annotated'])

In [36]:
Ep2.adata_dict['Ep_level2'].obs[Ep2.adata_dict['Ep_level2'].obs.Ep_level2_annotated.isna()]

          img_id PhenoGraph_clusters level1_annotated Ep_level2_annotated
Cell_id
126826_1  R1_002                  -1               Ep                 NaN
127174_1  R1_002                  -1               Ep                 NaN
128299_1  R1_002                  -1               Ep                 NaN

In [32]:
Im_label = merge_col_label(Im2.adata_dict['Immune_level2'].obs,
                           ['level1_annotated',	'Immune_level2_annotated'])

In [7]:
Fi_label = merge_col_label(Fi2.adata_dict['Fibro_level2'].obs,
                           ['level1_annotated',	'Fibro_level2_annotated'])

In [8]:
def merge_label(obj_label1, Ep_label, Im_label, Fi_label):
    level2 = pd.concat([Ep_label, Im_label, Fi_label], axis=0)
    label_all = pd.concat([obj_label, level2], axis = 1)
    label_all['label'] = label_all['label'].fillna(label_all['level1_annotated'])
    return label_all

In [11]:
label_all = merge_label(obj_label, Ep_label, Im_label, Fi_label)

In [12]:
label_all.head()

         img_id PhenoGraph_clusters level1_annotated            label
Cell_id
14773_0  R1_001                   1               Ep    Ep_Ca_nonstem
14774_0  R1_001                  26            Fibro  Fibro_PDGFRalow
14775_0  R1_001                   0            Fibro    Fibro_PDGFRa+
14776_0  R1_001                  23            Fibro  Fibro_PDGFRalow
14777_0  R1_001                  15               Ep    Ep_Ca_nonstem

## export level2 annotate to csv

In [17]:
label_all[['label']].to_csv(index=False,header=False, path_or_buf='output/label_cell.csv')

In [18]:
label_all

         img_id PhenoGraph_clusters level1_annotated            label
Cell_id
14773_0  R1_001                   1               Ep    Ep_Ca_nonstem
14774_0  R1_001                  26            Fibro  Fibro_PDGFRalow
14775_0  R1_001                   0            Fibro    Fibro_PDGFRa+
14776_0  R1_001                  23            Fibro  Fibro_PDGFRalow
14777_0  R1_001                  15               Ep    Ep_Ca_nonstem
...         ...                 ...              ...              ...
29068_2  R1_003                   3               Ep    Ep_Ca_nonstem
29069_2  R1_003                   5               Ep    Ep_Ca_nonstem
29070_2  R1_003                  47               Ep    Ep_Ca_nonstem
29071_2  R1_003                   5               Ep    Ep_Ca_nonstem
29072_2  R1_003                  49            Fibro        Fibro_Neg

[14300 rows x 4 columns]

In [23]:
obj1.adata.to_df()

,Bi209_pSTAT3_,Dy161_pSMAD2_,Dy162_CD8_,Dy163_ER_,Dy164_CD20_,Er166_HER2_,Er167_GATA3_,Er168_Ki67_,Er170_CD3_,Eu151_CD3134_,...,Sm147_CD163_,Sm149_CK5_,Sm152_FAP_,Sm154_CD11c_,Tb159_CD68_,Tm169_CD24_,Yb171_PDGFRb_,Yb172_ClCasp3_,Yb173_GranzymeB_,Yb174_CK818_
Cell_id,,,,,,,,,,,,,,,,,,,,,
14773_0,0.0,0.0,0.0,0.0,0.0,0.500000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.1,0.0,0.400000,0.0,0.000000
14774_0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.230769,0.0,0.0,0.000000,0.0,0.000000
14775_0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.526316,0.0,0.000000
14776_0,0.0,0.0,0.0,0.0,0.0,0.078947,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.236842,0.0,0.000000
14777_0,0.0,0.0,0.0,0.0,0.0,0.041667,0.625000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.500000,0.0,0.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29068_2,0.0,0.0,0.0,0.0,0.0,0.333333,1.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.166667
29069_2,0.0,0.0,0.0,0.0,0.0,0.153846,0.384615,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.230769
29070_2,0.0,0.0,0.0,0.0,0.0,0.368421,0.263158,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000
29071_2,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.200000
29072_2,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.333333