# Test pipeline from IMCprocess

## Create Img_adata object from csv input files
It is noted that csv file should have columns 'X_position' and 'Y_position'. Since csv output from Imacyte do not have X and Y coordinates, we need to add them from histogram csv output

In [1]:
import numpy as np
import scanpy as sc
import pandas as pd
from matplotlib import pyplot as plt
import os, sys
sys.path.append(os.path.join('..'))

import IMCprocess.img_anndata as utan
import IMCprocess.utils as ut
import IMCprocess.clustifier as cl

In [2]:
utan.Img_anndata()

AttributeError: module 'IMCprocess.img_anndata' has no attribute 'Img_anndata'

In [ ]:
def add_XY(histocat_csv, Imacyte_csv):
    new_df_ls = []
    for raw, new in zip(histocat_csv, Imacyte_csv):
        raw_df = pd.read_csv(raw)
        new_df = pd.read_csv(new, index_col=0)
        new_df['X_position'] = np.array(raw_df['X_position'])
        new_df['Y_position'] = np.array(raw_df['Y_position'])
        new_df_ls.append(new_df)
    return new_df_ls

In [ ]:
histocat_csv = ['../data/20211022_testTMA1_s0_a2_ac.csv', 
                '../data/20211022_testTMA1_s0_a4_ac.csv',
                '../data/20211022_testTMA1_s0_a5_ac.csv',
                ]
Imacyte_csv = ['../data/ROI002_Basal-like_BC_mean_aggregated.csv',
               '../data/ROI004_ERPR+BC_mean_aggregated.csv',
               '../data/ROI005_Her2+BC_mean_aggregated.csv'
               ]
df_ls = add_XY(histocat_csv, Imacyte_csv)

## Create img_anndata objects for specific projects

* The data matrices is created as anndata (https://anndata.readthedocs.io/en/latest/)
* Merge intensity table of all images and save as adata variable inside Img_anndata class
* Observation table: img_id, this img_id is stored as table in adata variable
* Spatial info: X, Y

In [ ]:
# input is a list of image dataframes and image ids
Img_proj = utan.Img_anndata(dfs=df_ls, img_ids=['R2', 'R4','R5'])

AttributeError: module 'IMCprocess.Img_anndata' has no attribute 'Img_anndata'

In [ ]:
Img_proj.adata

NameError: name 'Img_proj' is not defined

In [6]:
Img_proj.adata.obs

NameError: name 'Img_proj' is not defined

In [10]:
# Call intensity marker data frame from adata object
Img_proj.adata.to_df()

,CD163_,CD31_CD34_,CD3_,CD44_,CD4_,CD68_,CD8_,CK5_6_,Cleaved_caspase3_,ER_,...,PD1_,PDGFRa_,PDGFRb_,PDL1_,Vimentin_,YAP1_,aSMA_,pSMAD2_,pSTAT3_,panKeratin_
Cell_id,,,,,,,,,,,,,,,,,,,,,
1_0,0.000000,0.0,0.125000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.875000,0.000000,0.000000,0.000000,0.000000,0.000000
2_0,0.000000,0.0,0.042857,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.157143,0.000000,0.000000,0.000000,0.000000,0.000000
3_0,0.000000,0.0,0.000000,0.562500,0.000000,0.541667,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.979167,0.625000,0.000000,0.145833,0.083333,0.000000
4_0,0.000000,0.0,0.000000,0.190476,0.000000,0.238095,0.000000,0.0,0.0,0.0,...,0.285714,0.000000,0.000000,0.0,0.428571,0.285714,0.095238,0.238095,0.190476,0.000000
5_0,0.000000,0.0,0.045454,0.068182,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.068182,0.022727,0.000000,0.0,0.318182,0.272727,0.000000,0.022727,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4714_2,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4715_2,0.600000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4716_2,0.298077,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.048077,0.0,0.076923,0.000000,0.000000,0.000000,0.000000,0.009615
4717_2,0.000000,0.0,0.511111,0.044444,0.133333,0.000000,0.444444,0.0,0.0,0.0,...,0.000000,0.155556,0.644444,0.0,0.488889,0.377778,0.000000,0.000000,0.000000,0.000000
4718_2,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.727273,0.363636,0.727273,0.0,1.000000,1.000000,1.000000,1.000000,0.636364,0.000000

## Phenograph Clustering level1